/.west
/bootloader
/modules
/tools
/zephyr
/zmk-config
/build
*.DS_Store
__pycache__
.vscode/c_cpp_properties.json
.vscode/settings.json
.gitignore
app/boards/shields/nice_view/widgets/peripheral_status.c
app/boards/shields/corne/corne.conf
app/boards/shields/nice_view/BadAppleProject/a.out
app/boards/shields/nice_view/BadAppleProject/decompressor.c
app/boards/shields/nice_view/BadAppleProject/a.out.dSYM/Contents/Resources/Relocations/aarch64/a.out.yml
app/boards/shields/nice_view/BadAppleProject/data
app/boards/shields/nice_view/BadAppleProject/a.out.dSYM/Contents/Resources/DWARF/a.out
Lightnovels/1stkissnovel-org/A Record Of A MortalS Journey To Immortality/cover.jpg
Lightnovels/1stkissnovel-org/A Record Of A MortalS Journey To Immortality/meta.json
Lightnovels/1stkissnovel-org/A Record Of A MortalS Journey To Immortality/epub/A Record Of A MortalS Journey To Immortality c1-2453.epub
Lightnovels/boxnovel-com/Let Me Game In Peace/cover.jpg
Lightnovels/boxnovel-com/Let Me Game In Peace/meta.json
Lightnovels/boxnovel-com/Let Me Game In Peace/epub/Let Me Game In Peace c1-1905.epub
Lightnovels/boxnovel-com/The First Order/cover.jpg
Lightnovels/boxnovel-com/The First Order/meta.json
Lightnovels/boxnovel-com/The First Order/epub/The First Order c1-1260.epub
Lightnovels/boxnovel-com/The First Order/images/7984e3bb3e48d62b40435192c670334a.jpg
